@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
        font-weight: 300;   
    color: white;
}


:root{
    --rosa: #EE4266;
    --rosaEscuro: #AB1536;
    --preto: #220C10;
    font-size: 20px;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #220C10;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    height: 750px;
    width: 900px;
    background-color: #AB1536;
    box-shadow: 0px 0px 50px #EE4266, inset 0px 0px 50px #EE4266;
    border: solid 4px #EE4266;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    animation-name: fade;
    animation-duration: 5s;
}

.lado1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lado2{
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    height: 250px;
    border-bottom: solid 3px white;
}

.titulo{
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
        font-weight: 700;
}

.campos{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

label{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

i{
    position: absolute;
    top: 20px;
    right: 190px;
    visibility: hidden;
}

small{
    width:40%;
    margin-top: 5px;
    padding: 0px 10px;
    border: dashed 2px white;
    text-align: center;
    visibility: hidden;
}

input[type= text], input[type= password], input[type= email],input[type= number],input[type= tel], select{
    background-color: #220C10;
    height: 50px;
    width: 70%;
    border-radius: 10px;
    padding: 10px;
}

.botao{
    width: 40%;
    padding: 5px;
    background-color: var(--rosa);
    border: solid 2px var(--rosa);
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--rosa), inset 0px 0px 10px var(--rosa);
    font-size: 1rem;
    cursor: pointer;
    transition: 200ms;
}

.botao:hover{
    background-color: #AB1536;
    color: #EE4266;
    text-shadow: 0px 0px 2px #EE4266;
}

.link{
    color: #EE4266;
    transition: 200ms;
}

.link:hover{
    color: #220C10;
}

.erro input{
    border: solid 2px red;
}

.erro i.fa-circle-exclamation{
    color: red;
    visibility: visible;
}

.sucesso input{
    border: solid 2px greenyellow;
}

.sucesso i.fa-circle-check{
    color: greenyellow;
    visibility: visible;
}

label.erro small{
    visibility: visible;
}


@keyframes fade {
    from {    
        opacity: 0;
        transform: scale(0.9);
    }
    to {         
        opacity: 1;
        transform: scale(1);
    }
}